footer {
    background: #1e1d1d;
    width: 100%;
    .contact-links-icons {
        padding-top: 1rem;
        display: flex;
        justify-content: center;
        a {
            margin: 1rem;
            color: #fff;
            transform: translate(1);
            &:hover {
                transform: scale(1.2);
                transition: 0.1s;
            }
        }
    }
    .credit {
        padding: 1rem;
        display: flex;
        justify-content: center;

        p {
            color: #fff;
            font-size: 0.8em;
        }
    }
}
