.recipe-card {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    figure {
        max-height: 250px;
        overflow: hidden;

        position: relative;
        img {
            width: 100%;
        }
    }
    .title {
        padding: 0.5rem 0;
        text-align: center;
    }
    &:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
    }
}
