@import "./colors.scss";
@import "./fonts.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: calc(10px + 2vmin);
  font-family: $font-body;
}

.container {
  margin: 0 5vw;
}
.links {
  text-decoration: none;
  color: #000;
}

.logo {
  font-family: $font-logo;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  padding: 2em 0;
  color: #e70e02;
  text-transform: uppercase;
}
