@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// body {
//   // font-size: calc(10px + 2vmin);
//   background: $bg-color;
// }

body {
  font-size: calc(10px + 2vmin);
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  width: 100vw;
  position: relative;
  input {
    padding: 0.5rem;

    width: 300px;
    margin: 2rem;
    margin-top: 0;
  }
}
.app-title {
  font-size: 2em;
  text-align: center;
  padding: 1.5em 0;
  text-transform: uppercase;
}
.container {
  margin: 0 5vw;
}
