@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: calc(10px + 2vmin);
}

.app-title {
  font-size: 2em;
  text-align: center;
  padding: 1.5em 0;
  text-transform: uppercase;
}
.container {
  margin: 0 5vw;
}
